.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 5px;
}
.App h1 {
  margin-bottom: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 40rem; */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.todosContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.todoText {
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  color: #ccc;
}
input {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 3px;
}
input:focus {
  border: 2px solid #6d28d9;
}
.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  margin-bottom: 20px;
}
.btn {
  color: #6d28d9;
  background-color: #fff;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}
.remove {
  color: rgb(236, 68, 68);
  border: 1px solid rgb(236, 68, 68);
  margin-left: 10px;
}
.addTodo {
  color: #fff;
  background-color: #6d28d9;
}
.updateTodo {
  color: #fff;
  background-color: #a76dff;
}
header {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 30px;
}
header span {
  width: 20px;
  font-size: 14px;
  height: 20px;
  background-color: #d0c7f7;
  color: #6d28d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 641px) {
  header {
    font-size: medium;
  }
  .container {
    padding: 20px;
    width: 40rem;
  }
  input {
    width: 200px;
  }
  .todo{
    width: 20rem;
  }
}
